*

!src/
!src/**
!UML/
!UML/**
UML/**/.uml_tmp/
!collaboration/
!collaboration/**

!.gitignore
!CMakeLists.txt
!README.md
!persistent.settings
!suzanne.glb
!Assets/fih.glb
!Assets/fih.ktx2
!Assets/plant____kind_of.ktx2
!Assets/predator.ktx2
!.gitattributes
