*

!src/
!src/**
!UML/
!UML/**
UML/**/.uml_tmp/
!Assets/
!Assets/**
!Images/
!Images/**
!collaboration/
!collaboration/**

!.gitignore
!CMakeLists.txt
!README.md
!persistent.settings
!suzanne.glb
!.gitattributes
